@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

.app {
  text-align: center;
  font-family: 'Montserrat', 'Courier New', sans-serif;
}
.app button {
  background-color: darkorange;
  height: 40px;
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  border-top: 2px solid rgba(244,179,80,1);
  border-left: 2px solid rgba(244,179,80,1);
  border-right: 2px solid rgba(232,126,4,1);
  border-bottom: 2px solid rgba(232,126,4,1);
}
.app button:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(232,126,4,1);
}
.app button:active {
  cursor: pointer;
  color: #fff;
  border-top: 2px solid rgba(232,126,4,1);
  border-left: 2px solid rgba(232,126,4,1);
  border-right: 2px solid rgba(244,179,80,1);
  border-bottom: 2px solid rgba(244,179,80,1);
}
.header {
  color: rebeccapurple;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  font-weight: bolder;
}
.recipesList {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 40px;
}

/*modal window*/
.modal {
  position: fixed;
  top:0;bottom:0;left:0;right:0;
  background-color: rgba(228,233,237,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modalCont {
  width: 700px;
  min-height: 500px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  outline: 2px solid lightgrey;
  position: relative;
  display: flex;
  flex-direction: row;
}
.modalDescriptionCont {
  display: flex;
  flex-direction: column;
}
.modalDescriptionCont> :last-child {
  margin-top: auto;
}
.modalTitle {
  padding: 25px;
  color: darkorange;
  font-weight: bold;
  font-size: x-large;
}
.modalDescription {
  padding: 0 25px;
  font-size: large;
}
.modalCont img {
  height: 100%;
  width: 350px;
  object-fit: cover;
}

/*close icon*/
.close {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.3;

}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*cart*/
.cart {
  position: fixed;
  right: 5px;
  bottom: 5px;
  background-color: rgba(255,255,255,1);
  border: 1px solid grey;
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartCount {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cartCount> :first-child {
  line-height: 50px;
  font-weight: bolder;
}
.cartCount img {
  height: 50px;
}

/*responsive*/
@media screen and (max-width: 800px) {
  .recipesList {width: 100%; grid-template-columns: 1fr 1fr}
  .modal{height: 100vh; background-color: #fff }
  .modalCont {flex-direction: column; height: 100vh; width: 100%;outline: none}
  .modalCont img {width: 100%}
  .modal button {position: fixed;bottom: 0; width: 100%}
  .modalDescription{padding-bottom: 40px}
  .recipesList {grid-gap: 20px}
}
@media screen and (max-width: 450px) {
  .recipesList {grid-template-columns: 1fr}
  .cart {width: 100%; right: -1px;bottom: 0}
}


