@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

.app {
  text-align: center;
  font-family: 'Montserrat', 'Courier New', sans-serif;
}
.header {
  color: rebeccapurple;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  font-weight: bolder;
}
.recipesList {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 40px;
}

/*modal window*/
.modal {
  position: fixed;
  top:0;bottom:0;left:0;right:0;
  background-color: rgba(228,233,237,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modalCont {
  width: 700px;
  height: 450px;
  background-color: #fff;
  outline: 2px solid lightgrey;
  position: relative;
  display: flex;
  flex-direction: row;
}
.modalDescriptionCont {

}
.modalTitle {
  padding: 25px;
  color: darkorange;
  font-weight: bold;
  font-size: x-large;
}
.modalDescription {
  padding: 25px;
  font-size: large;
}
.modalCont img {
  height: 100%;
  width: 350px;
  object-fit: cover;
}

/*close icon*/
.close {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.3;

}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


@media screen and (max-width: 770px) {
  .recipesList {width: 100%; grid-template-columns: 1fr 1fr}
  .modalCont {flex-direction: column; height: 100%}
  .modalCont img {width: 100%}
}
@media screen and (max-width: 450px) {
  .recipesList {grid-template-columns: 1fr}
}


